# Node modules
node_modules/

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# IDE / editor files
.vscode/
.idea/

# Build artifacts
cjs/
dist/
coverage/

# Lock files
yarn.lock